.App {
  font-family: Arial, sans-serif;
  background-color: black;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  color: #cec9c9;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

.menu-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  transition: right 0.8s ease;
}

.menu-button div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 6%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.8s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.open {
  right: 0;
}

nav button {
  color: white;
  cursor: pointer;
  width: fit-content;
  background: none;
  font-weight: bold;
  font-size: 1rem;
}

nav button:hover {
  color: yellow;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 100vh);
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.2), 0 0 15px rgba(255, 255, 255, 0.1);
  animation: twinkle 5s infinite, move 10s linear infinite;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 3px solid #333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
